<!--@subject Notificación de stock bajo en Chivo zhop @-->

{{template config_path="design/email/header_template"}}
<!-- pathe of template header-->

<!-- here $myvar1 , $myvar2, $myvar3, $myvar4, $myvar5, $myvar6 are variables in which we
                                     asssign values when we use this template for send mail-->

<!-- you can Modify content of template according to your requirement-->
<table>
	<tr>
		<td valign="top">
			<p style="font-size: 12px; line-height: 16px; margin: 0 0 16px 0;">
				Hola {{var receivername}},<br />
				<br />La cantidad de su producto es muy baja. Por lo tanto, compruebe el estado a continuación y actualice el producto.<br />
				<br />Producto                  : {{var productname}} <br />
				<br />SKU                         : {{var sku}} <br />
				<br />Cantidad                    : {{var qty}} <br />
				<br />Cantidad mínima permitida    : {{var minqty}} <br />
		</td>
	</tr>
</table>
{{template config_path="design/email/footer_template"}}
