<!--@subject Solicitud en pedido {{var requesttype}} @-->
{{template config_path="design/email/header_template"}}
<table>
	<tr>
		<td valign="top">
			<p style="font-size: 12px; line-height: 16px; margin: 0 0 16px 0;">
				Hi {{var receivername}},<br />
				<br /> Echa un vistazo a la orden {{var requesttype}}  solicitud enviada por {{var requestperson}}.<br />
				<br /> {{var requestperson}} Nombre: {{var requestperson_name}} <br />
				Email: {{var requestperson_email}}<br /> Pedido: #{{var
				increment_id}}

			</p> <b>Producto (s) solicitado (s) en el pedido : </b><br /> {{layout
			handle="marketplace_order_items_request" order_id=$order_id
			product_id=$product_id seller_id=$seller_id area="frontend"}} {{if
			reason}}
			<p>
				<b>Razón :</b> {{var reason}}
			</p> {{/if}} {{if requesturl}} Para {{var requesttype}} el pedido <a
			href="{{var requesturl}}">click here</a> {{/if}}
		</td>
	</tr>
</table>
{{template config_path="design/email/footer_template"}}
