<?xml version="1.0"?>
        <!--
        /**
         */
        -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="mpgc_controller" frontName="mpgc">
            <module name="Pagadito_MPGC" />
        </route>
        <route id="mpgc_success" frontName="pagadito">
            <module name="Pagadito_MPGC" />
        </route>
    </router>
</config>